html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header, .footer {
  flex: none;
}

.header {
  background-color: #7c8a9b;
}

.header-title {
  text-align: center;
}

.header-title h1 {
  margin: 0;
  padding: 16px 0;
}

.content {
  flex: auto;
  width: 980px;
  margin: 0 auto;
  background-color: #e0e6e5;
}

.map-wrapper {
  height: 540px;
}

.map-view {
  width: auto;
  height: 508px;
  padding: 16px;
}

#map {
  width: 100%;
  height: 100%;
}

.find-nearby-form {
  text-align: center;
}

.group-padding {
  padding: 8px 0;
}

#location_input {
  text-align: center;
}

.horizontal-list ul {
  display: flex;
  align-items: stretch; /* Default */
  justify-content: space-evenly;
  width: 100%;
  margin: 0;
  padding: 0;
}

.horizontal-list li {
  display: block;
  flex: 0 1 auto; /* Default */
  list-style-type: none;
}

.locations-boxes {
  text-align: center;
}

.location-type {
  text-align: left;
  margin: 0 16px;
}

hr.separator {
  margin: 0 16px;
}

.footer {
  height:32px;
  background-color: #7c8a9b;
  text-align: center;
}

.error {
  margin: 32px;
}
