{% from "_helpers.html" import render_field %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Znajdź blisko</title>
  <meta name="description" content="Znajdź przydatne lokacje w twojej okolicy">
  <meta name="author" content="RandomNoose">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div class="header">
    <div class="header-title">
      <h1>Znajdź blisko</h1>
    </div>
  </div>
  <div class="content">
    <div class="error">
      <h3>Coś poszło nie tak...</h3>
      <p>{{ error }}</p>
    </div>
  </div>
  <div class="footer">
    <div class="footer-conetnt"></div>
  </div>
</body>
</html>
