{% from "_helpers.html" import render_field %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Znajdź blisko</title>
  <meta name="description" content="Znajdź przydatne lokacje w twojej okolicy">
  <meta name="author" content="RandomNoose">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div class="header">
    <div class="header-title">
      <h1>Znajdź blisko</h1>
    </div>
  </div>
  <div class="content">
    <div class="map-wrapper">
      <div class="map-view">
        <div id="map"></div>
      </div>
    </div>
    <div class="controls">
      <form id="find_nearby_form" class="pure-form find-nearby-form" method="POST">
        <fieldset>
          <div class="group-padding pure-control-group">
            <input id="location_input" class="pure-input-2-3" type="text" placeholder="Enter location name">
            {{ form.lat(id="latitude_input") }}
            {{ form.lng(id="longitude_input") }}
            {{ form.csrf_token }}
          </div>
          <div class="pure-control-group group-padding horizontal-list">
            {{ form.types_checkboxes }}
          </div>
          <button type="submit" class="pure-button pure-button-primary">Znajdź</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="footer">
    <div class="footer-conetnt"></div>
  </div>


  <script>
    function initAutocomplete() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -33.8688, lng: 151.2195 },
        zoom: 13,
        mapTypeId: 'roadmap'
      });

      var input = document.getElementById('location_input');
      var searchBox = new google.maps.places.SearchBox(input);

      map.addListener('bounds_changed', function() {
        searchBox.setBounds(map.getBounds());
      });

      var markers = []
      searchBox.addListener('places_changed', function() {
        var places = searchBox.getPlaces();

        if (places.length == 0) {
          return;
        }

        $('#latitude_input').val(places[0].geometry.location.lat);
        $('#longitude_input').val(places[0].geometry.location.lng);


        markers.forEach(function(marker) {
          marker.setMap(null);
        });
        markers = [];

        // For each place, get the icon, name and location.
        var bounds = new google.maps.LatLngBounds();
        places.forEach(function(place) {
          if (!place.geometry) {
            console.log("Returned place contains no geometry");
            return;
          }
          var icon = {
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(25, 25)
          };

          markers.push(new google.maps.Marker({
            map: map,
            icon: icon,
            title: place.name,
            position: place.geometry.location
          }));

          if (place.geometry.viewport) {
            bounds.union(place.geometry.viewport);
          } else {
            bounds.extend(place.geometry.location);
          }
        });
        map.fitBounds(bounds);
      });
    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe6BA_DIJasrKM4ORi9opBoUNS07RH9Z4&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>
