<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Znajdź blisko</title>
  <meta name="description" content="Znajdź przydatne lokacje w twojej okolicy">
  <meta name="author" content="RandomNoose">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div class="header">
    <div class="header-title">
      <h1>Znajdź blisko</h1>
    </div>
  </div>
  <div class="content">
    <div class="map-wrapper">
      <div class="map-view">
        <div id="map"></div>
      </div>
    </div>
    <div class="controls">
      <div class="locations-boxes pure-g">
        {% for locationType in results.locationsTypes %}
        <div class="pure-u-1-3">
          <h2>{{ names_map[locationType.type] }}</h2>
          <hr class="separator"/>
          <div class="location-type">
            {% for location in locationType.locations %}
            <p class="locations" data-icon="{{ url_for('static', filename='icon/marker_' + location.locationType.lower() + '.png') }}" data-name="{{ location.name }}" data-latitude="{{ location.address.latitude }}" data-longitude="{{ location.address.longitude }}">{{ location.name }}</p>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-conetnt"></div>
  </div>

  <script>
    function initAutocomplete() {
      $(document).ready(function() {
      var foundPlaces = [];
      var resultPlaces = $('.locations');
      resultPlaces.each(function(i, obj) {
        data = $(obj).data();
        foundPlaces.push({
          name: data.name,
          icon: data.icon,
          loc: {
            lat: data.latitude,
            lng: data.longitude
          }
        });
      });

      var map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -33.8688, lng: 151.2195 },
        zoom: 13,
        mapTypeId: 'roadmap'
      });

      var markers = []
      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();
      foundPlaces.forEach(function(place) {
        var icon = {
          url: place.icon,
          size: new google.maps.Size(20, 34),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(0, 10),
          scaledSize: new google.maps.Size(20, 34)
        };

        markers.push(new google.maps.Marker({
          icon: icon,
          title: place.name,
          map: map,
          position: place.loc
        }));

        bounds.extend(place.loc);
      });
      map.fitBounds(bounds);
      });
    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBe6BA_DIJasrKM4ORi9opBoUNS07RH9Z4&libraries=places&callback=initAutocomplete" async defer></script>
</body>
</html>
